@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');

/* #region common */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Fonts */
    --ff-opensans: 'Open Sans', sans-serif;
    /* Colors */
    --c-dark: #000101;
    --c-dark: #000101;
    --c-lighter: #fefffe;
    --c-light: #fefaf3;
    --c-primary: #0062fe;
    --c-secondary: #add0eb;
    --c-special: #6a012b;
    --c-shadow: #ecedee;
    --c-muted: #b3b3b4;
    /* Brand Colors */
    --cb-designit-a: #95d495;
    --cb-designit-b: #cbebcb;
    --cb-designit-c: #f4f5f4;
    --cb-florida_uni: #0197d4;
    --cb-arizona_uni: #6a012b;
    --cb-topps: #fe0001;
    --cb-world_bicycle_relief: #e80006;
    --cb-lonely_planet: #032586;
    --cb-hearst_corporation: #acd1e8;
    --cb-clear_channel_outdoor: #ffd600;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--ff-opensans);
}

img {
    max-width: 100%;
}
/* #endregion common */

/* #region debug */
.debug #app_header {
    height: 3.5rem;
    width: 100%;
    border: 2px solid black;
}

.debug .container-sml {
    height: 100%;
    background-color: green;
    border: 2px dashed white;
}

.debug .container-med {
    height: 100%;
    background-color: red;
    border: 2px dashed white;
}

.debug .container-big {
    height: 100%;
    background-color: blue;
    border: 2px dashed white;
}

.debug .row {
    height: 100%;
    background-color: orangered;
}

.debug .col-4 {
    height: 100%;
    background-color: palevioletred;
    border: 2px dashed black;
}

.debug .col-6 {
    height: 100%;
    background-color: palegreen;
    border: 2px dashed black;
}

.debug .col-8 {
    height: 100%;
    background-color: palegoldenrod;
    border: 2px dashed black;
}

.debug .col-12 {
    height: 100%;
    background-color: paleturquoise;
    border: 2px dashed black;
}

.debug #jumbotron {
    height: 400px;
}

.debug #plans .col-12 .row .col-4 {
    height: 600px;
}

.debug #plans .col-12 .row .col-12 {
    height: 200px;
}

.debug #banner_meet_partners {
    height: 400px;
}

.debug #functionalities {
    height: 800px;
}

.debug #functionalities .col-4 {
    height: 400px;
}

.debug #business_banner {
    height: 200px;
}

.debug #clients {
    height: 900px;
}

.debug #clients .col-4 {
   height: 600px;
}

.debug #clients .col-12 {
    height: 300px;
}

.debug #questions {
    height: 400px;
}

.debug #app_footer {
    height: 500px;
}

.debug #app_footer .row {
    border: 2px solid wheat;
}

.debug #app_footer .row:first-child {
    height: 350px;
}

.debug #app_footer .row:last-child {
    height: 150px;
}
/* #endregion debug */

/* #region utilities */

.horizontal-line {
    width: 30%;
    border-bottom: 2px solid var(--c-shadow);
}

.invisible {
    display: none;
}

.visible {
    display: inline-block;
}

.list-unstiled {
    list-style: none;
}

.inverted {
    filter: invert(1);
}

.no-decor{
    text-decoration: none;
}

.bottom-border {
    border-bottom: 2px solid var(--c-lighter);
}

.box-border {
    border: .8rem solid;
}

/* #region containers_and_boxes */

.container-sml {
    width: 74%;
    max-width: 900px;
    margin: auto;
}

.container-med {
    width: 80%;
    max-width: 1080px;
    margin: auto;
}

.container-big {
    width: 98%;
    max-width: 1280px;
    margin: auto;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.col-4 {
    width: calc(100% / 12 * 4);
}

.col-6 {
    width: calc(100% / 12 * 6);
}

.col-8 {
    width: calc(100% / 12 * 8);
}

.col-12 {
    width: 100%;
}

/* #endregion containers_and_boxes */

/* #region flex */

.flex-end-main {
    justify-content: flex-end;
}

.flex-start-main {
    justify-content: flex-start;
}

/* #endregion flex */

/* #region margin_and_padding */

.padding-top-4 {
    padding-top: 4rem;
}

.padding-y-2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.my-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.my-2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.my-4 {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.my-6 {
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.mt-4 {
    margin-top: 4rem;
}

.mb-4 {
    margin-bottom: 4rem;
}
/* #endregion margin_and_padding */

/* #region font_manipulation */

.text-black {
    font-weight: 900;
}

.text-bold {
    font-weight: 800;
}

.text-regular {
    font-weight: 400;
}

.text-sm {
    font-size: .8rem;
}

.text-med {
    font-size: 1rem;
}

.text-big {
    font-size: 1.5rem;
}

.text-bigger {
    font-size: 2rem;
}

.text-biggest {
    font-size: 2.5rem;
}

/* #endregion font_manipulation */

/* #region colors */

.color-dark {
    color: var(--c-dark);
}

.color-lighter {
    color: var(--c-lighter);
}

.color-primary {
    color: var(--c-primary);
}

.color-special {
    color: var(--c-special);
}

.color-muted {
    color: var(--c-muted);
}

.border-color-des-b {
    border-color: var(--cb-designit-b);
}

.bg-b-designit-a {
    background-color: var(--cb-designit-a);
}
.bg-b-asu {
    background-color: var(--cb-arizona_uni);
}
.bg-b-fu {
    background-color: var(--cb-florida_uni);
}
.bg-b-topps {
    background-color: var(--cb-topps);
}

.bg-b-bycicle {
    background-color: var(--cb-world_bicycle_relief);
}

.bg-b-hearst {
    background-color: var(--cb-hearst_corporation);
}

.bg-b-lonelyp {
    background-color: var(--cb-lonely_planet);
}

.bg-b-clearc {
    background-color: var(--cb-clear_channel_outdoor);
}

/* #endregion colors */

/* #region buttons */

.primary-btn {
    color: var(--c-lighter);
    background-color: var(--c-primary);
    border: none;
    padding: .5rem 1rem;
    font-family: var(--ff-opensans);
    cursor: pointer;
}

.secondary-btn {
    color: var(--c-dark);
    background-color: transparent;
    border: 1px solid var(--c-dark);
    padding: .5rem 1rem;
    font-family: var(--ff-opensans);
    cursor: pointer;
}

.light-btn {
    color: var(--c-dark);
    background-color: var(--c-lighter);
    border: none;
    padding: .5rem 1rem;
    font-family: var(--ff-opensans);
    cursor: pointer;
}

/* #endregion buttons */

/* #endregion utilities */

/* #region main */

/* #region app_header */
#app_header {
    background-color: var(--c-lighter);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 500;
    /* box-shadow: 0 0 8px var(--c-shadow); */
}

#app_header .logo {
    vertical-align: middle;
    height: 1rem;
}

#app_header .list-unstiled {
    height: 3rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}

#app_header .list-unstiled li {
    height: 100%;
    display: flex;
    align-items: center;
    padding: .5rem;
}

#app_header .bottom-border:hover {
    border-bottom: 2px solid var(--c-primary);
}
/* #endregion app_header */

/* #region app_main */

/* #region jumbotron */

#jumbotron {
    background-color: var(--c-secondary);
    padding: 1rem 1rem 0;
}

#jumbo-title h1 {
    width: 90%;
    font-size: 58px;
    text-align: start;
    margin-top: 3rem;
}

#jumbo-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

#jumbo-content i {
    margin-top: 1rem;
    position: absolute;
    bottom: .5rem;
    left: 0;
}

.jumbo_img {
    position: relative;
    bottom: -5rem;
    right: 0;
}


/* #endregion jumbotron */

/* #region plans */

#plans {
    margin-top: 8rem;
}

#plans .billing_choice {
    padding: 2rem 1rem 2rem 0;
    border: none;
    display: flex;
    gap: 1.5rem;
}

#plans .billing_choice input {
    vertical-align: middle;
}

#plans .billing_choice label {
    margin-left: .25rem;
}

#plans .col-4 {
    padding: 1rem;
}

#plans .col-4:first-child 
{
    margin-left: -1rem;
}

#plans .col-4:last-child
{
    margin-right: -1rem;
}

#plans .card {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border: 2px solid var(--c-shadow);
    border-radius: 4px;
}

#plans .card-header {
    border-bottom: 2px solid var(--c-shadow);
    padding: .6rem;
    text-align: center;
}

#plans .col-4 .card-main,
#plans .col-4 .card-footer 
{
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-basis: 420px;
}


#plans .product_price {
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

#plans .col-4 .card-main ul,
#plans .col-4 .card-footer ul 
{
    flex-grow: 2;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    line-height: 1.25rem;
}


#plans .card-main li,
#plans .card-footer li 
{
    display: flex;
    align-items: baseline;
    flex-grow: 1;
    flex-basis: 1.5rem;
    padding: 0 .25rem;
    margin-bottom: 1rem;
}

#plans .card-main i,
#plans .card-footer i 
{
    margin-right: .5rem;
    /* margin-left: .5rem; */
}

#plans .col-4 .card-main button {
    flex-basis: 1.5rem;
    margin-top: 1rem;
    margin-bottom: .5rem;
}

#plans .buy_now_link {
    padding-bottom: .5rem;
}

#plans .card .horizontal-line {
    margin-left: 1.5rem;
}

#plans .card-footer {
    flex-basis: 350px;
    padding-top: 2rem;
}

#plans .card-footer ul {
    margin-top: .5rem;
}
#plans .card-footer li {
    flex-grow: 0;
    margin-bottom: 1rem;
}

#plans .col-12 {
    padding: 1rem;
    margin-left: -1rem;
}

#plans .col-12 .card-main {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    flex-basis: 200px;
}

#plans .left {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
}

#plans .right {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;

}


/* #endregion plans */

/* #region meet_partners_banner */

#banner_meet_partners .col-8,
#banner_meet_partners .col-4 
{
    padding: 2.5rem;
    padding-left: 0;
}

#banner_meet_partners .col-4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
}

#banner_meet_partners .col-4 h2 {
    margin-top: 3rem;
}

#banner_meet_partners .col-8 img {
    width: 100%;
}

/* #endregion meet_partners_banner */

/* #region functionalities */

#functionalities .col-4 {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#functionalities .col-4:first-child,
#functionalities .col-4:nth-child(4) {
    margin-left: -1.5rem;   
}

#functionalities .col-4:last-child,
#functionalities .col-4:nth-child(3) {
    margin-right: -1.5rem;   
}

/* #endregion functionalities */

/* #region business_banner */

#business_banner .col-12 {
    padding: 3rem;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

#business_banner h2 {
    width: 60%;
}

/* #endregion business_banner */

/* #region clients */

#clients {
    background-color: var(--c-secondary);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
}



#clients .col-4 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#clients .client {
    padding: 2rem;
    background-color: var(--cb-designit-c);
    color: var(--c-dark);

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.client .brand-logo {
    margin-bottom: 1rem;
}

.client .horizontal-line {
    width: 20%;
    border-bottom: 1px solid var(--c-dark);
}

#clients .brand-box {
    width: 50%;
    aspect-ratio: 1;

    display: flex;
    align-items: center;
    justify-content: center;
}

#clients .brand-logo {
    width: 42%;
}

/* #endregion clients */

/* #region call_to_business */

#call_to_business_banner {
    background-color: var(--c-secondary);
}
#call_to_business_banner .call-to-action {
    padding: 6rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    
}

#call_to_business_banner .call-to-action h2 {
    width: 30%;
}

#call_to_business_banner .call-to-action button {
    padding-left: 2rem;
    padding-right: 2rem;
}

/* #endregion call_to_business */

/* #region questions */

#questions {
    margin: 5rem;
}

#questions h2 {
    margin-bottom: 2.5rem;
}

#questions .question {
    cursor: pointer;
}

#questions .question strong {
    padding: 1rem 0;
    display: inline-block;
    display: flex;
    justify-content: space-between;
}

#questions .question span {
    margin-right: 2rem;
}

#questions .question p {
    width: 80%;
}

#questions .horizontal-line {
    width: 100%;
    border: 1px solid var(--c-shadow);
    margin: 1rem 0;
}

#questions .question:hover .invisible {
    display: inline-block;
}

#questions .question:hover .visible {
    display: none;
}
/* #endregion questions */

/* #endregion app_main */

/* #region app_footer */
#app_footer {
    background-color: var(--c-dark);
}

#app_footer .horizontal-line {
    border-color: var(--c-muted);
    width: 10%;
}

#app_footer .column {
    width: calc(100% / 5);
    margin-top: 3rem;
    margin-bottom: 5rem;
}

#app_footer .column li {
    margin: .8rem 0;
}

#app_footer .column .no-decor:hover {
    text-decoration: underline;
}

#app_footer .column h5 {
    margin-bottom: 1.6rem;
}

#app_footer .col-12 {
    margin: 2rem 0;
}

#app_footer .col-12 span {
    cursor: pointer;
}

#app_footer .col-12 i:first-child {
    margin-right: .5rem;
}

#app_footer .col-12 i:last-child {
    margin-left: .5rem;
}
/* #endregion app_footer */

/* #endregion main */