@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');

/* #region common */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Fonts */
    --ff-opensans: 'Open Sans', sans-serif;
    /* Colors */
    --c-dark: #000101;
    --c-dark: #000101;
    --c-lighter: #fefffe;
    --c-light: #fefaf3;
    --c-primary: #0062fe;
    --c-secondary: #add0eb;
    --c-special: #6a012b;
    /* Brand Colors */
    --cb-designit-a: #95d495;
    --cb-designit-b: #cbebcb;
    --cb-designit-c: #f4f5f4;
    --cb-florida_uni: #0197d4;
    --cb-arizona_uni: #6a012b;
    --cb-topps: #fe0001;
    --cb-world_bicycle_relief: #e80006;
    --cb-lonely_planet: #032586;
    --cb-hearst_corporation: #acd1e8;
    --cb-clear_channel_outdoor: #ffd600;
}

body {
    font-family: var(--ff-opensans);
}

/* #endregion common */

/* #region debug */
.debug #app_header {
    height: 3.5rem;
    width: 100%;
    border: 2px solid black;
}

.debug .container-sml {
    height: 100%;
    background-color: green;
    border: 2px dashed white;
}

.debug .container-med {
    height: 100%;
    background-color: red;
    border: 2px dashed white;
}

.debug .container-big {
    height: 100%;
    background-color: blue;
    border: 2px dashed white;
}

.debug .row {
    height: 100%;
    background-color: orangered;
}

.debug .col-4 {
    height: 100%;
    background-color: palevioletred;
    border: 2px dashed black;
}

.debug .col-6 {
    height: 100%;
    background-color: palegreen;
    border: 2px dashed black;
}

.debug .col-8 {
    height: 100%;
    background-color: palegoldenrod;
    border: 2px dashed black;
}

.debug .col-12 {
    height: 100%;
    background-color: paleturquoise;
    border: 2px dashed black;
}

.debug #jumbotron {
    height: 400px;
}

.debug #plans .col-12 .row .col-4 {
    height: 600px;
}

.debug #plans .col-12 .row .col-12 {
    height: 200px;
}

.debug #banner_meet_partners {
    height: 400px;
}

.debug #functionalities {
    height: 800px;
}

.debug #functionalities .col-4 {
    height: 400px;
}

.debug #business_banner {
    height: 200px;
}

.debug #clients {
    height: 900px;
}

.debug #clients .col-4 {
   height: 600px;
}

.debug #clients .col-12 {
    height: 300px;
}

.debug #questions {
    height: 400px;
}

.debug #app_footer {
    height: 500px;
}

.debug #app_footer .row {
    border: 2px solid wheat;
}

.debug #app_footer .row:first-child {
    height: 350px;
}

.debug #app_footer .row:last-child {
    height: 150px;
}
/* #endregion debug */

/* #region utilities */
.container-sml {
    width: 70%;
    max-width: 900px;
    margin: auto;
}

.container-med {
    width: 80%;
    max-width: 1080px;
    margin: auto;
}

.container-big {
    width: 96%;
    max-width: 1280px;
    margin: auto;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.col-4 {
    width: calc(100% / 12 * 4);
}

.col-6 {
    width: calc(100% / 12 * 6);
}

.col-8 {
    width: calc(100% / 12 * 8);
}

.col-12 {
    width: 100%;
}

.flex-end-main {
    justify-content: flex-end;
}

.flex-start-main {
    justify-content: flex-start;
}

.padding-top-4 {
    padding-top: 4rem;
}

.padding-y-2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.margin-y-2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.list-unstiled {
    list-style: none;
}

.text-black {
    font-weight: 900;
}

.text-bold {
    font-weight: 800;
}

.text-regular {
    font-weight: 400;
}

.text-sml {
    font-size: .8rem;
}

.text-med {
    font-size: 1rem;
}

.text-big {
    font-size: 1.5rem;
}

.text-bigger {
    font-size: 2.5rem;
}

.color-dark {
    color: var(--c-dark);
}

.no-decor{
    text-decoration: none;
}

.primary-btn {
    color: var(--c-lighter);
    background-color: var(--c-primary);
    border: none;
    padding: .25rem .75rem;
    font-family: var(--ff-opensans);
}
/* #endregion utilities */

/* #region main */

/* #region app_header */
#app_header {
    background-color: var(--c-lighter);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 500;
}

#app_header .logo {
    vertical-align: middle;
    height: 1rem;
}

#app_header .list-unstiled {
    height: 3rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: .5rem;
}
/* #endregion app_header */

/* #region app_main */
#jumbotron {
    background-color: var(--c-secondary);
    position: relative;
    padding: 1rem 1rem 0;
}

#jumbo-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: flex-start;
}

#jumbo-content i {
    margin-top: 1rem;
}

.jumbo_img {
    width: 660px;
    position: absolute;
    bottom: -3.2rem;
    right: 2rem;
}

#plans .col-12 .row .col-4 {
    padding:  1rem;
}

#clients {
    background-color: var(--c-secondary);
}
/* #endregion app_main */

/* #region app_footer */
#app_footer {
    background-color: var(--c-dark);
}
/* #endregion app_footer */

/* #endregion main */